<div class="max-w-3xl mx-auto px-4 py-8 my-4 text-white">
  <h1 class="text-3xl font-bold mb-4">Luís Gustavo Barichello Ferrassini</h1>
  <p class="text-lg font-semibold mb-2">Senior Full Stack Developer</p>
  <p class="text-gray-300 mb-4">Brazil, São Paulo, Ribeirão Preto</p>
  <p class="text-gray-300 mb-4">Passionate about computers since childhood, I embarked on my programming journey as a teenager, crafting my first website with PHP, and navigating platforms like Wordpress, Joomla, and FTP for deployment.</p>
  <p class="text-gray-300 mb-4">Today, armed with a Bachelor's degree in Computer Science from Centro Universitário Barão de Mauá/USP, I stand at the intersection of curiosity and expertise. With a robust background in developing solutions utilizing a diverse toolkit including Ruby on Rails, Vue.js, Node.js, Docker, Laravel, and more, gained through my tenure at Moat Builders.</p>
  <p class="text-gray-300 mb-4">Driven by a relentless pursuit of innovation, I thrive on tackling complex challenges and transforming ideas into reality.</p>
  <p class="text-gray-300 mb-4">I am passionate about leveraging technology to create meaningful solutions that make a difference.</p>
  <h2 class="text-xl font-bold mb-2">SKILLS</h2>
  <div class="text-xl font-bold mb-2">
    <!-- Ruby on Rails -->
    <span class="inline-block bg-blue-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Ruby on Rails</span>
    <!-- PHP/Laravel/Symfony -->
    <span class="inline-block bg-purple-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">PHP</span>
    <span class="inline-block bg-purple-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Laravel</span>
    <span class="inline-block bg-purple-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Symfony</span>
    <!-- JavaScript/TypeScript -->
    <span class="inline-block bg-red-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">JavaScript</span>
    <span class="inline-block bg-red-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">TypeScript</span>
    <!-- Python -->
    <span class="inline-block bg-green-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Python</span>
    <!-- Java -->
    <span class="inline-block bg-red-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Java</span>
    <!-- SQL/MySQL/PostgreSQL -->
    <span class="inline-block bg-indigo-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">SQL</span>
    <span class="inline-block bg-indigo-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">MySQL</span>
    <span class="inline-block bg-indigo-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">PostgreSQL</span>
    <!-- Vue.js -->
    <span class="inline-block bg-green-600 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Vue.js</span>
    <!-- Node.js/Express -->
    <span class="inline-block bg-green-700 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Node.js</span>
    <span class="inline-block bg-green-700 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Express</span>
    <!-- Tailwind CSS -->
    <span class="inline-block bg-cyan-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Tailwind</span>
    <span class="inline-block bg-cyan-500 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">CSS</span>
    <!-- React -->
    <span class="inline-block bg-blue-600 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">React</span>
    <!-- Docker/Kubernetes -->
    <span class="inline-block bg-blue-800 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Docker</span>
    <span class="inline-block bg-blue-800 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Kubernetes</span>
    <!-- Cucumber/Selenium -->
    <span class="inline-block bg-yellow-600 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Cucumber</span>
    <span class="inline-block bg-yellow-600 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Selenium</span>
    <!-- Google Cloud -->
    <span class="inline-block bg-blue-700 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Google</span>
    <span class="inline-block bg-blue-700 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Cloud</span>
    <!-- Firebase -->
    <span class="inline-block bg-yellow-700 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Firebase</span>
    <!-- Git -->
    <span class="inline-block bg-gray-700 text-white rounded-full px-2 py-1 text-xs font-bold">Git</span>
  </div>
  <h2 class="text-xl font-bold mb-2">LANGUAGES</h2>
  <div class="text-xl font-bold mb-2">
    <span class="inline-block bg-yellow-700 text-white rounded-full px-2 py-1 text-xs font-bold mr-1">Native Portuguese</span>
    <!-- Git -->
    <span class="inline-block bg-gray-700 text-white rounded-full px-2 py-1 text-xs font-bold">Fluent English</span>
  </div>
</div>
